force-app/main/default/flows/Initiate_Return.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Negative_Response</name>
        <label>Negative Response</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ReturnSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sorry, the order is outside the return window.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Positive_Response</name>
        <label>Positive Response</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ReturnSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The return process has begun!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Return_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Verify_Return_Eligibility</name>
        <label>Verify Return Eligibility</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Negative_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Past Return Window</defaultConnectorLabel>
        <rules>
            <name>Within_Return_Window</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Record.EffectiveDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ThirtyDaysAgo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Positive_Response</targetReference>
            </connector>
            <label>Within Return Window</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ThirtyDaysAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY()-30</expression>
    </formulas>
    <interviewLabel>Initiate Return {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Initiate Return</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Record</name>
        <label>Get Order Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Return_Eligibility</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Return_Status</name>
        <label>Set Return Status</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Return_Status__c</field>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReturnSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
